html {
	font-family: helvetica;
}

hr {
	width: 300px;
}

.posts li {
	display: inline;
}

.background {
	background: url(../img/img4.jpg) fixed no-repeat center;
	background-size: cover;
  color: #fff;
}

.login-panel {
	margin-top: 140px;
}
